<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>BMI Tracker | Database</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>

<body>
  <header>
    <ul>
      <li class="navigationAnchor"><a href="/">Calculator</a></li>
      <li class="navigationAnchor active"><a href="/database">Database</a></li>
    </ul>
  </header>


  <form id="userForm">
    <div class="formContainer">
      <h1>BMI Tracker</h1>

      <div class="inputField">
        <label for="name"><b>Name</b></label>
        <input type="string" placeholder="Enter Name" name="name" id="name" required>
      </div>

      <button type="submit" class="formBtn">Calculate</button>
    </div>

   <div class="results">
     <label for="results">BMI Stats</label>
     <textarea id="results" name="results" rows="2" cols="60" readonly></textarea>

     <table id="resultTable">
       <tr>
         <th>Date</th>
         <th>Weight</th>
         <th>Height</th>
         <th>BMI</th>
         <th>Status</th>
       </tr>

     </table>
   </div>
  </form>

  <script>
    const userOnSubmit = async (e) => {
      e.preventDefault()

      console.log(e)
      const user = document.getElementById('name').value

      let formSubmit = new XMLHttpRequest();
      formSubmit.open("GET", `/user?user=${user}`, true)
      formSubmit.onreadystatechange = () =>{
        if(formSubmit.readyState === 4){
          let textArea = document.getElementById('results')
          if(formSubmit.response == 'User not found'){
            textArea.value = 'User not found'
          }
          else {
            let res = JSON.parse(formSubmit.response)
            textArea.value = `Number of entires: ${res.entry.length}`
            let tableAddOn = ''
            console.log(res.entry)
            res.entry.map((entry)=>{
              tableAddOn += `
              <tr>
               <td>${entry.datetime}</td>
               <td>${entry.weight}</td>
               <td>${entry.height}</td>
               <td>${entry.bmi}</td>
               <td>${entry.status}</td>
              </tr>
             `
            })
            document.getElementById('resultTable').innerHTML = `<tr>
         <th>Date</th>
         <th>Weight</th>
         <th>Height</th>
         <th>BMI</th>
         <th>Status</th>
       </tr>`
            document.getElementById('resultTable').innerHTML += tableAddOn;
          }

        }
      }

      formSubmit.send()
    }
    const userForm = document.getElementById('userForm')
    userForm.addEventListener('submit', userOnSubmit)
  </script>
</body>

</html>