<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>BMI Tracker | Calculate</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <header>
    <ul>
      <li class="navigationAnchor active""><a href="main.html">Calculator</a></li>
      <li class="navigationAnchor"><a href="database.html">Database</a></li>
    </ul>
  </header>


  <form id="calculatorForm">
    <div class="formContainer">
      <h1>BMI Tracker</h1>

      <div class="inputField">
        <label for="name"><b>Name</b></label>
        <input type="string" placeholder="Enter Name" name="name" id="name" required>
      </div>

      <div class="inputField">
        <label for="DOB"><b>Birthday</b></label>
        <input type="date" placeholder="Enter Birthday" name="DOB" id="DOB" required>
      </div>

      <div class="inputField">
        <label for="height"><b>Height</b></label>
        <input type="number" step=0.1 placeholder="Enter Height" name="height" id="height" required>
      </div>

      <div class="inputField">
        <label for="weight"><b>Weight</b></label>
        <input type="number" step=0.1 placeholder="Enter Weight" name="weight" id="weight" required>
      </div>

      <button type="submit" class="formBtn">Calculate</button>
    </div>
  </form>

  <script>
    const calculatorOnSubmit = async (e) => {
      e.preventDefault()

      console.log(e)
      const formData = new FormData(document.forms.calculatorForm)
      console.log(formData)

      let formSubmit = new XMLHttpRequest();
      formSubmit.open("POST", "/", true)
      formSubmit.onreadystatechange = () =>{
        if(formSubmit.readyState === 4){
          console.log(formSubmit.response)
        }
      }

      formSubmit.send(formData)
    }
    const calcForm = document.getElementById('calculatorForm')
    calcForm.addEventListener('submit', calculatorOnSubmit)
  </script>
</body>


</html>