<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>BMI Tracker</title>

  <style>
    .formContainer>* {
      display: block;
      margin-top: 15px;
    }

    .inputField label {
      display: inline-block;
      width: 80px;
    }

    .inputField input {
      display: inline-block;
      width: 160px;
      margin: auto;
    }
  </style>
</head>

<body>
  <header>
    <ul>
      <li class="navigationAnchor"><a href="main.html">Calculator</a></li>
      <li class="navigationAnchor"><a href="retrieve.html">Retrieve</a></li>
    </ul>
  </header>


  <form action="/" method="get" id="calculatorForm">
    <div class="formContainer">
      <h1>BMI Tracker</h1>

      <div class="inputField">
        <label for="name"><b>Name</b></label>
        <input type="string" placeholder="Enter Name" name="name" id="name" required>
      </div>

      <div class="inputField">
        <label for="DOB"><b>Birthday</b></label>
        <input type="date" placeholder="Enter Birthday" name="DOB" id="DOB" required>
      </div>

      <div class="inputField">
        <label for="height"><b>Height</b></label>
        <input type="number" step=0.1 placeholder="Enter Height" name="height" id="height" required>
      </div>

      <div class="inputField">
        <label for="weight"><b>Weight</b></label>
        <input type="number" step=0.1 placeholder="Enter Weight" name="weight" id="weight" required>
      </div>

      <button type="submit" class="formBtn">Calculate</button>
    </div>
  </form>

  <script>
    const calculatorOnSubmit = (e) => {
      e.preventDefault()
      

    }

    const calcForm = document.getElementById('calculatorForm')

    calcForm.addEventListener('submit', calculatorOnSubmit)
  </script>
</body>

</html>